@model Movie

@{
    ViewData["Title"] = "Предсказание сборов";
}

<table class="table table-hover">
    <tr>
        <td>
            Бюджет
        </td>
        <td>
            @Model.Budget
        </td>
    </tr>
    <tr>
        <td>
            Рейтинг
        </td>
        <td>
            @Model.Vote
        </td>
    </tr>
    <tr>
        <td>
            Сборы
        </td>
        <td>
            @Model.Revenue
        </td>
    </tr>
</table>
