
@{
    ViewData["Title"] = "Предсказание сборов";
}

<h3>Введите указанные параметры</h3>
<form method="post">
    <label>Бюджет:</label><br />
    <input type="text" name="budget" /><br /><br />
    <label>Рейтинг:</label><br />
    <input type="text" name="vote" /><br /><br />
    <input type="submit" value="Отправить" />
</form>